/* Global App Container */
.App {
  width: 100%;
  overflow-x: hidden;
}

main {
  width: 100%;
}

/* 本編のフェードイン */
.main-content {
  opacity: 0;
  transition: opacity 1.2s ease-in-out;
  visibility: hidden;
}

.main-content.visible {
  opacity: 1;
  visibility: visible;
}
